@mixin main-headline {
    font-family: $font-family-heading;
    font-size: 36px;
    font-weight: 900;
    line-height: 36px;

    @include media-breakpoint-up(lg) {
        margin: 0;
        font-size: 64px;
        line-height: 80px;
    }
}

@mixin headline {
    font-family: $font-family-heading;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;

    @include media-breakpoint-up(lg) {
        font-size: 36px;
        line-height: 45px;
        margin: 0;
    }
}


@mixin title {
    font-family: $font-family-heading;
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
}

@mixin subheading {
    font-family: $font-family-heading;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
}

@mixin text-body ($lh: 21px, $fw: 400 ,$color: #152c5c) {
    font-family: $font-family-text-body;
    font-size: 14px;
    line-height: $lh;
    font-weight: $fw;
    color: $color;
}

