@mixin main-headline ($fs: 36px, $fw: 900, $fh: 45px) {
  font-family: $font-family-heading;
  font-size: $fs;
  font-weight: $fw;
  line-height: $fh;

  @include media-breakpoint-up(lg) {
    font-size: 64px;
    line-height: 80px;
  }
}


@mixin headline-md {
  font-family: $font-family-heading;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;

  @include media-breakpoint-up(lg) {
    font-size: 32px;
    line-height: 40px;
  }
}


@mixin headline-sm {
  font-family: $font-family-heading;
  font-size: 36px;
  font-weight: 900;
  line-height: 45px;

  @include media-breakpoint-up(lg) {
    font-size: 28px;
    line-height: 35px;
  }
}


@mixin title {
  font-family: $font-family-heading;
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
}

@mixin subheading {
  font-family: $font-family-heading;
  font-size: 18px;
  font-weight: 900;
  line-height: 23px;
}

@mixin text-body ($lh: 24px, $fw: 300, $fs: 14px ,$color: $btc-2) {
  font-family: $font-family-text-body;
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
  color: $color;
}

