$font-family-heading: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
"Segoe UI Symbol";

$font-family-text-body: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI",
"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
"Segoe UI Symbol";

//abbreviations
$fw: font-weight;
$fs: font-size;
$ff: font-family;
$lh: line-height;
$color: color;
$bgc: background-color;

//colors
//
//basics-text-colors
$btc-1: #ffffff;
$btc-2: #152c5c;

//basic-background-color
$bbg-1: #0095e5;
$bbg-2: #152c5c;
$bbg-3: #efefef;

//list-colors
$list-color-1: #b1ddfd;
$list-color-2: #ffd7d9;

//button-appointment
$button-appointment: linear-gradient(180deg, #f0515e 0%, #e30613 100%);

//button-ok
$button-ok: linear-gradient(180deg, #2ec061 0%, #13a546 100%);

//button-more-details
$button-more: #0095e5;

//strip-under-headings
$strip: linear-gradient(90deg, #0095e5 50%, #e30613 50%);

//shadow
$button-shadow-1: #820e15;
$button-shadow-2: #136d33;