.pathology {
    background-color: $gray-200;
    padding: 47px 25px 100px 25px;

    &__heading {
        width: 300px;
        margin: 0 auto 25px auto;
        color: $primary;
    }

    &__separator {
        margin-bottom: 65px;

        @include media-breakpoint-up(lg) {
            margin: 25px 0 75px 0;
        }
    }

    &__list {
        margin: -25px;
        padding: 0;
        list-style: none;

        @include media-breakpoint-up(lg) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: -10px;
        }
    }

    &__item {
        box-shadow: -5px -5px 25px #ffffff,
            5px 5px 30px rgba(13, 39, 80, 0.16);
        border-radius: 12px;
        padding-bottom: 28px;
        margin: 25px;

        @include media-breakpoint-up(lg) {
            flex-grow: 1;
            position: relative;
            width: 227px;
            max-width: 400px;
            margin: 10px;
        }

        img {
            @include media-breakpoint-up(lg) {
                width: 100%;
            }
        }
    }

    &__subheading {
        color: $primary;
        font-weight: 700;
        margin: 0 13px 23px 13px;
    }

    &__link {
        display: flex;
        align-items: center;
        position: relative;
        font-family: $font-family-heading;
        font-size: 14px;
        font-weight: 900;
        line-height: 17px;
        color: $secondary;
        margin-left: 13px;

        @include media-breakpoint-up(lg) {
            position: absolute;
            bottom: 20px;
        }

        &::before {
            content: "";
            position: absolute;
            width: 25px;
            height: 2px;
            margin-left: 120px;
            background-color: $secondary;
        }

        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            width: 0;
            height: 0;
            margin-left: 145px;
            border-top: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-left: 5px solid $secondary;
        }
    }

    &__button {
        display: block;
        width: 265px;
        margin: 60px auto 0 auto;
        padding: 15px;

        @include media-breakpoint-up(lg) {
            display: block;
            margin: 80px auto 0 auto;
        }
    }

    @include media-breakpoint-up(lg) {
        padding: 47px 30px 100px 30px;
    }
}