.pathology {
    background-color: $gray-200;
    padding: 47px 25px 100px 25px;

    &__heading {
        color: $primary;

        @include media-breakpoint-up(lg) {
        }
    }

    &__list {
        list-style: none;

        @include media-breakpoint-up(lg) {
            display: flex;
            flex-wrap: wrap;
            margin: -20px;
        }
    }

    &__item {
        box-shadow: -5px -5px 25px #ffffff,
            5px 5px 30px rgba(13, 39, 80, 0.16);
        border-radius: 12px;
        padding-bottom: 28px;
        margin-bottom: 25px;

        @include media-breakpoint-up(lg) {
            width: 230px;
            margin: 20px;
        }
    }

    &__subheading {
        color: $primary;
        font-weight: 700;
        margin: 0 13px 23px 13px;
    }

    &__link {
        display: flex;
        align-items: center;
        position: relative;
        font-family: $font-family-heading;
        font-size: 14px;
        font-weight: 900;
        line-height: 17px;
        color: $secondary;
        margin-left: 13px;

        &::before {
            content: "";
            position: absolute;
            width: 25px;
            height: 2px;
            transform: translateX(120px);
            background-color: $secondary;
        }

        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            width: 0;
            height: 0;
            transform: translateX(145px);
            border-top: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-left: 5px solid $secondary;
        }
    }

    &__button {
        padding: 15px 30px 11px 30px;
        margin-top: 60px;

        @include media-breakpoint-up(lg) {
            display: block;
            margin: 80px auto 0 auto;
        }
    }

    @include media-breakpoint-up(lg) {
        display: flex;
        padding: 115px 30px 117px 30px;
    }
}