.input {
  &-text{
    @include text-body();
    border: none;

    &--dark{
      border-bottom: 1px solid $primary;
      color: $primary;
    }

    &--light{
      border-bottom: 1px solid $light;
      color: $light;
    }
  }

  &-checkbox {
    display: none;

    & ~ .label-checkbox::before {
      width: 22px;
      height: 22px;
      content: "";
      background-color: $primary;
      border-radius: 3px;
      margin-right: 11px;
      display: block;
    }

    &:checked ~ .label-checkbox::before {
      width: 22px;
      height: 22px;
      content: "";
      background-color: $primary;
      border-radius: 3px;
      margin-right: 11px;
      background-image: url("../../../img/svg/icon-tick.svg");
      background-position: center center;
      display: block;
    }
  }
}