.input {
  &--text{
    border: none;
    border-bottom: 1px solid $btc-2;
    @include text-body();
  }

  &--file ~ .label--checkbox::before {
    content: "";
    margin-right: 11px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--checkbox {
    display: none;

    & ~ .label--checkbox::before {
      width: 22px;
      height: 22px;
      content: "";
      border-radius: 3px;
      margin-right: 11px;
      display: block;
    }

    &:checked ~ .label--checkbox::before {
      width: 22px;
      height: 22px;
      content: "";
      border-radius: 3px;
      margin-right: 11px;
      background-image: url("../../../img/svg/icon-tick.svg");
      background-repeat: no-repeat;
      background-position: center center;
      display: block;
    }
  }
}