/*
  Стили для списков
*/

//ненумированные
//
// белый список
.ul_item--1 {
  @include text-body(
    $fs: 14px,
    $lh: 21px
  );

  @include media-breakpoint-up(lg) {
    $color: $btc-1;
    $lh: 27px;
    $fs: 18px;
    $fw: 700;
  }
}

//синий список
.ul_item--2 {
  @include text-body(
   $lh: 21px,
   $fs: 14px
  );

  @include media-breakpoint-up(lg) {
    $color: $btc-2;
    $lh: 24px;
    $fs: 16px;
    $fw: 400;
  }
}

//нумерованные
.ol_item {
  @include text-body(
    $lh: 23px,
    $fs: 14px
  );

  @include media-breakpoint-up(lg) {
    $color: $btc-2;
    $lh: 27px;
    $fs: 16px;
    $fw: 400;
  }
}