.timeline {
    position: relative;
    color: $primary;
    background-color: $gray-200;

    &__wrapper {
        position: relative;
        overflow: hidden;

        @include media-breakpoint-up(lg) {
            overflow-x: auto;
            position: static;
        }

        &::before {
            content: "";
            position: absolute;
            z-index: 1;
            top: -2px;
            left: 0;
            width: 100%;
            height: 100px;
            pointer-events: none;
            background: linear-gradient(to bottom, #efefef 0%, rgba(239, 239, 239, 0) 100%);

            @include media-breakpoint-up(lg) {
                content: none;
            }
        }

        &::after {
            content: "";
            position: absolute;
            z-index: 1;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 100px;
            pointer-events: none;
            background-image: linear-gradient(to top, #efefef 0%, rgba(239, 239, 239, 0) 100%);

            @include media-breakpoint-up(lg) {
                content: none;
            }
        }
    }

    &__list {
        max-height: 400px;
        overflow-y: auto;
        margin-bottom: 0;
        @include list-unstyled;

        @include media-breakpoint-up(lg) {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            max-height: 900px;
            overflow-y: visible;
        }

        &::before {
            content: "";
            position: absolute;
            z-index: 1;
            top: 0;
            left: 25px;
            width: 1px;
            height: 100%;
            pointer-events: none;
            background-image: linear-gradient(120deg, rgba(21, 44, 92, 0) 0%, #152c5c 32.29%, #152c5c 74.48%, rgba(21, 44, 92, 0) 100%);

            @include media-breakpoint-up(lg) {
                top: 50%;
                left: 0;
                width: 100%;
                height: 1px;
            }
        }
    }

    &__item {
        position: relative;

        @include media-breakpoint-up(lg) {
            display: flex;
            flex-direction: column;
            max-width: 400px;
            margin-right: 40px;
        }

        &.timeline__item--md {
            @include media-breakpoint-up(lg) {
                max-width: 540px;
            }
        }

        &.timeline__item--lg {

            .timeline__description {
                @include media-breakpoint-up(lg) {
                    @include make-row($gutter: 20px);
                }

                > span {
                    @include media-breakpoint-up(lg) {
                        @include make-col-ready($gutter: 20px);
                        @include make-col(6, 12);
                    }
                }
            }
            @include media-breakpoint-up(lg) {
                max-width: 760px;
            }
        }

        &:last-child {
            @include media-breakpoint-up(lg) {
                margin-right: 0;
            }
        }

        &:nth-child(odd) {

            .timeline__date {
                @include media-breakpoint-up(lg) {
                    margin-bottom: 0;
                }
            }

            .timeline__circle {
                background-color: $info;

                > span {
                    @include media-breakpoint-up(lg) {
                        top: calc(50% + 7px);
                        left: 50%;
                        width: 1px;
                        height: 70px;
                        transform: translateX(-50%);
                    }
                }

                &::before {
                    @include media-breakpoint-up(lg) {
                        top: 111px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }

            .timeline__title {
                @include media-breakpoint-up(lg) {
                    position: absolute;
                    top: -10px;
                    left: 50%;
                    transform: translateX(-50%);
                    margin-bottom: 0;
                }
            }

            .timeline__description {
                @include media-breakpoint-up(lg) {
                    order: -1;
                }
            }
            @include media-breakpoint-up(lg) {
                padding-bottom: 80px;
                justify-content: flex-end;
                min-height: 360px;
            }
        }
        &:nth-child(even) {
            .timeline__circle {
                background-color: $decoration;

                > span {
                    @include media-breakpoint-up(lg) {
                        top: auto;
                        bottom: calc(50% + 7px);
                        left: 50%;
                        width: 1px;
                        height: 74px;
                        transform: translateX(-50%);
                    }
                }

                &::before {
                    @include media-breakpoint-up(lg) {
                        top: auto;
                        bottom: 120px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }

            .timeline__title {
                @include media-breakpoint-up(lg) {
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    transform: translateX(-50%);
                    margin-bottom: 0;
                }
            }
            @include media-breakpoint-up(lg) {
                margin-left: 25%;
            }
        }
    }

    &__date {
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 10px;
        @include media-breakpoint-up(lg) {
            width: 80px;
        }
    }

    &__circle {
        display: block;
        position: relative;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 10px;

        @include media-breakpoint-up(lg) {
            margin-right: 0;
        }

        > span {
            display: block;
            position: absolute;
            top: 50%;
            left: 21px;
            width: 30px;
            height: 1px;
            transform: translateY(-50%);
            background-color: $primary;
        }

        &::before, &::after {
            content: "";
            display: block;
            position: absolute;
            border-radius: 50%;
        }

        &::before {
            top: 50%;
            left: 20px;
            width: 10px;
            height: 10px;
            transform: translateY(-50%);
            background-color: $primary;
        }

        &::after {
            top: 50%;
            left: 50px;
            width: 15px;
            height: 15px;
            border: 1px solid $primary;
            transform: translateY(-50%);

            @include media-breakpoint-up(lg) {
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &__description {
        padding-left: 40px;

        @include media-breakpoint-up(lg) {
            //min-width: 320px;
            padding-left: 10px;
        }

        //&.timeline__description--md {
        //    @include media-breakpoint-up(lg) {
        //        min-width: 540px;
        //    }
        //}
        //
        //&.timeline__description--lg {
        //    @include media-breakpoint-up(lg) {
        //        min-width: 720px;
        //        display: flex;
        //    }
        //}
    }
}