/*
  Размеры иконок
*/

.icon {
    fill: currentColor;
    transition: fill 0.15s ease-out;
}

@each $size, $value in $icon-sizes {
    .icon-#{$size} {
        width: $value !important;
        height: $value !important;
    }
}
