.about {
    overflow: hidden;
    padding: 50px 25px 40px 25px;
    background-color: $secondary;

    &__inner {
        @include media-breakpoint-up(lg) {
            display: flex;
            justify-content: space-between;
            @include make-row($gutter: 40px);
        }
    }

    &__left {
        display: block;

        @include media-breakpoint-up(lg) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__heading {
        color: $light;
        text-align: center;
        margin-bottom: 100px;

        &::after {
            content: "";
            display: block;
            width: 120px;
            height: 3px;
            margin: 15px auto 0;
            border-radius: 3px;
            background-image: $strip-light;
        }
    }

    &__decoration {
        position: relative;
        margin-bottom: 30px;

        @include media-breakpoint-up(lg) {
            margin: 0;
        }

        @include media-breakpoint-up(lg) {
            @include make-col-ready($gutter: 40px);
            @include make-col(5, 10);
        }

        &::before {
            content: "";
            box-sizing: border-box;
            display: block;
            position: absolute;
            z-index: 1;
            bottom: 120px;
            left: 0;
            width: 230px;
            height: 230px;
            border: 50px solid $light;
            border-radius: 50%;
            filter: drop-shadow(0 0 150px #ffffff);

            @include media-breakpoint-up(lg) {
                width: 460px;
                height: 460px;
                border: 95px solid $light;
            }
        }
    }

    &__bg {
        position: absolute;
        z-index: 0;
        bottom: 5px;
        left: 5px;

        @include media-breakpoint-up(lg) {
            bottom: 0;
            left: -250px;
        }
    }

    &__logo {
        position: absolute;
        z-index: 2;
        top: 50px;
        left: 0;
        width: 105px;
        height: 10px;
        transform: rotate(90deg);

        @include media-breakpoint-up(lg) {
            z-index: 5;
            top: 180px;
            width: 207px;
            height: 19px;
        }
    }

    &__doctor {
        position: relative;
        z-index: 4;
        right: 30px;
        bottom: 0;

        @include media-breakpoint-up(lg) {
            margin-top: auto;
            margin-bottom: 0;
        }
    }

    &__info {
        list-style: none;
        padding-left: 0;

        @include media-breakpoint-up(lg) {
            @include make-col-ready($gutter: 40px);
            @include make-col(5, 10);
        }
    }

    &__title {
        color: $light;
        text-align: center;
        margin-bottom: 25px;
        font-weight: 700;

        @include media-breakpoint-up(lg) {
            margin-bottom: 40px;
        }
    }

    &__description {
        color: $light;
        font-size: 12px;
        line-height: 18px;
        font-weight: 300;
        margin-bottom: 35px;
        @include list-unstyled;

        @include media-breakpoint-up(md) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__list {
        margin: 0 -25px;
        padding-left: 40px;
        list-style: none;

        @include media-breakpoint-up(lg) {
            display: flex;
            margin: 0 -30px;
            padding-left: 0;
        }
    }

    &__item {
        display: block;
        position: relative;
        margin: 25px;
        font-family: $font-family-text-body;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        color: $light;

        &::before {
            content: "";
            display: block;
            position: absolute;
            left: -35px;
            width: 25px;
            height: 9px;
            border-radius: 1px;
            border-left: 2px solid $light;
            border-bottom: 2px solid $light;
            transform: rotate(-55deg);

            @include media-breakpoint-up(lg) {
                top: -30px;
                left: 0;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        padding: 50px 25px 0 25px;
    }
}