/* stylelint-disable plugin/selector-bem-pattern */

input {
    border: none;
    background-color: transparent;
}

.input-text {
    @include text-body();
    display: block;
    border: none;
    border-bottom: 1px solid $primary;
    color: $primary;
    border-radius: 0;

    &--light {
        border-bottom: 1px solid $light;
        color: $light;
    }
}

.checkbox {
    position: relative;

    &__label {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 14px;
        font-weight: 700;
        margin-left: 33px;

        &::before {
            display: block;
            width: 22px;
            height: 22px;
            content: "";
            position: absolute;
            left: 0;
            border-radius: 3px;
            background-color: $primary;
            background-position: center center;
        }

        &--light{
            color: $light;

            &::before {
                display: block;
                width: 22px;
                height: 22px;
                content: "";
                left: 0;
                position: absolute;
                border-radius: 3px;
                background-color: $light;
                background-position: center center;
            }
        }
    }

    &__input {
        position: absolute;
        width: 1px;
        height: 1px;
        opacity: 0;
        pointer-events: none;

        &:checked ~ .checkbox__label::after {
            display: block;
            content: "";
            position: absolute;
            left: 4px;
            width: 12px;
            height: 12px;
            border-radius: 1px;
            border-left: 4px solid $light;
            border-bottom: 4px solid $light;
            transform: rotate(-45deg);
            background-position: center center;
        }

        &--light:checked ~ .checkbox__label--light::after {
            display: block;
            content: "";
            position: absolute;
            left: 4px;
            width: 14px;
            height: 9px;
            border-radius: 1px;
            border-left: 3px solid $secondary;
            border-bottom: 3px solid $secondary;
            transform: rotate(-55deg);
            background-position: center center;
        }
    }
}
