/* stylelint-disable plugin/selector-bem-pattern */

input {
    border: none;
    background-color: transparent;
}

.input-text {
    display: block;
    border: none;
    border-bottom: 1px solid $primary;
    color: $primary;
    border-radius: 0;

    &--light {
        border-bottom: 1px solid $light;
        color: $light;
    }
    @include text-body();
}

.checkbox {
    position: relative;

    &__label {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 14px;
        font-weight: 700;

        &::before {
            content: "";
            display: inline-block;
            width: 22px;
            height: 22px;
            background-color: $primary;
            border-radius: 3px;
            margin-right: 11px;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &__label--light {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 14px;
        font-weight: 700;

        &::before {
            content: "";
            display: inline-block;
            width: 22px;
            height: 22px;
            background-color: $light;
            border-radius: 3px;
            margin-right: 11px;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &__input {
        position: absolute;
        width: 1px;
        height: 1px;
        opacity: 0;
        pointer-events: none;

        &:checked ~ .checkbox__label::before {
            background-image: url("../../../img/svg/icon-tick.svg");
            background-position: center;
        }
    }

    &__input--light {
        position: absolute;
        width: 1px;
        height: 1px;
        opacity: 0;
        pointer-events: none;

        &:checked ~ .checkbox__label--light::before {
            background-image: url("../../../img/svg/icon-tick-blue.svg");
            background-position: center;
        }
    }
}
