.btn{
    font-family: $font-family-heading;
    font-weight: 900;

    &-danger {
        background-color: $button-danger;
        color: $light;
        box-shadow: $button-danger-shadow;

        &--sm{
            font-size: 18px;
            line-height: 23px;
        }

        &--lg{
            font-size: 20px;
            line-height: 25px;
        }
    }

    &-success{
        font-size: 20px;
        line-height: 25px;
        color: $light;
        background-color: $button-success;
        box-shadow: $button-success-shadow;
    }

    &-info{
        font-size: 14px;
        line-height: 17px;
        color: $button-info;
    }
}

