.congress {
    background-color: $gray-200;

    &__title {
        font-size: 20px;
        font-weight: 800;
        line-height: 25px;
        color: $primary;
        margin-bottom: 25px;

        @include media-breakpoint-up(lg) {
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 40px;
        }
    }

    &__more {
        display: block;
        position: relative;
        border: none;
        font-family: $font-family-heading;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        outline: none;
        background-color: transparent;
        color: $gray-400;
        margin-left: auto;
        margin-right: 60px;

        @include media-breakpoint-up(lg) {
            display: none;
        }

        span {
            content: "";
            display: block;
            position: absolute;
            top: 5px;
            right: -15px;
            width: 10px;
            height: 10px;
            background-color: $gray-400;
            border-radius: 50%;

            &::before, &::after {
                content: "";
                display: inline-block;
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: $gray-400;
                border-radius: 50%;
            }

            &::after {
                top: 0;
                right: -20px;
            }

            &::before {
                top: 0;
                right: -40px;
            }
        }
    }

    &__description {
        @include media-breakpoint-up(lg) {
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;
        }
    }

    &__list {
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
            columns: 2;
        }
    }

    &__button {
        @include media-breakpoint-up(lg) {
            margin: 0 auto;
            border: none;
            padding: 0;
            outline: none;
            background-color: transparent;
        }
    }

    @include media-breakpoint-up(lg) {
        overflow: hidden;
        padding: 60px 0 75px 0;
    }
}

.congress-list {
    counter-reset: item;
    padding: 0;
    margin-bottom: -10px;

    > li {
        font-family: $font-family-text-body;
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;
        color: $primary;
        counter-increment: item;
        list-style-type: none;
        padding-left: 2rem;
        position: relative;
        margin-bottom: 10px;

        &::before {
            content: counter(item) ".";
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            width: 1.5rem;
            font-weight: 700;
            padding-right: .5rem;
            text-align: right;
        }
    }
}

.congress-gallery {
    /* stylelint-disable plugin/selector-bem-pattern */

    --gap: 20px;
    --size: 281px;

    display: grid;
    grid-auto-flow: column;
    gap: calc(var(--gap) / 2);
    margin: 0 0 25px;

    padding-inline: var(--gap);
    padding-block-end: calc(var(--gap) / 2);
    padding-left: 0;

    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--gap);

    @include media-breakpoint-up(lg) {
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }

    & > li {
        display: inline-block;

        /*  container padding fix  */
        &:last-of-type figure {
            position: relative;

            &::after {
                content: "";
                position: absolute;

                inline-size: var(--gap);
                block-size: 100%;

                inset-block-start: 0;
                right: calc(var(--gap) * -1);
                inset-inline-end: calc(var(--gap) * -1);
            }
        }
    }

    a {
        display: inline-block;
        text-decoration: none;
        color: inherit;

        &:focus {
            outline-offset: calc(var(--gap) / 4);
        }
    }

    article {
        scroll-snap-align: start;
        display: grid;
        gap: calc(var(--gap) / 2);
        margin: 0;

        cursor: pointer;
        user-select: none;

        picture {
            inline-size: var(--size);
        }

        img {
            inline-size: 100%;
            block-size: 100%;
            object-fit: cover;
            overflow: hidden;
        }
    }
}

@media (prefers-reduced-motion: no-preference) {
    .congress-gallery a {
        transition: outline-offset .25s ease;
    }
}
