.congress {
    background-color: $gray-200;
    padding: 0 10px 55px 10px;

    .container {
        padding: 0;
    }

    &__title {
        font-size: 20px;
        font-weight: 800;
        line-height: 25px;
        color: $primary;
        margin-bottom: 25px;

        @include media-breakpoint-up(lg) {
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 40px;
        }
    }

    &__more {
        display: block;
        position: relative;
        border: none;
        font-family: $font-family-heading;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        outline: none;
        background-color: transparent;
        color: $gray-400;
        margin-left: auto;
        margin-right: 60px;

        @include media-breakpoint-up(lg) {
            display: none;
        }

        span {
            content: "";
            display: block;
            position: absolute;
            top: 5px;
            right: -15px;
            width: 10px;
            height: 10px;
            background-color: $gray-400;
            border-radius: 50%;

            &::before, &::after {
                content: "";
                display: inline-block;
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: $gray-400;
                border-radius: 50%;
            }

            &::after {
                top: 0;
                right: -20px;
            }

            &::before {
                top: 0;
                right: -40px;
            }
        }
    }

    &__description {
        @include media-breakpoint-up(lg) {
            display: flex;
            justify-content: space-between;
            margin-bottom: 95px;
        }
    }

    &__list {
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
            columns: 2;
            @include list-unstyled;
        }
    }

    &__item {
        @include media-breakpoint-up(lg) {
            font-family: $font-family-text-body;
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;
            color: $primary;
        }
    }

    &__gallery {
        display: none;

        @include media-breakpoint-up(lg) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0;
            list-style: none;
        }
    }

    &__button {
        @include media-breakpoint-up(lg) {
            margin: 0 auto;
            border: none;
            padding: 0;
            outline: none;
            background-color: transparent;
        }
    }

    @include media-breakpoint-up(lg) {
        overflow: hidden;
        padding: 60px 0 75px 0;
    }
}