.map {
    display: block;
    width: 100%;
    height: 482px;
    overflow: hidden;
    border-radius: 10px;
    filter: drop-shadow(0 -5px 30px rgba(21, 44, 92, 0.2));
    background-color: $gray-200;
}

.section-map {
    padding: 50px 0;
    background-image: linear-gradient( $gray-200 50%, $secondary 50%);
}