.pathology-first-modal {

    &__logo {
        display: block;
        width: 147px;
        height: 12px;
        margin: 5px 20px 35px 20px;
        fill: $secondary;

        @include media-breakpoint-up(lg) {
            display: block;
            margin-left: 20px;
            margin-bottom: 50px;
        }
    }

    &__info {
        padding: 0 20px 40px 20px;

        @include media-breakpoint-up(lg) {
            display: block;
            padding: 110px 20px 60px 40px;
        }
    }

    &__subheading {
        font-size: 18px;
        font-weight: 900;
        color: $primary;
        margin-bottom: 10px;
    }

    &__text {
        margin: 0;
    }

    &__img-wrap {
        @include media-breakpoint-up(lg) {
            display: block;
        }
    }

    @include media-breakpoint-up(lg) {
        display: flex;
        max-width: 640px;
    }

    img {

        @include media-breakpoint-up(lg) {
            width: 308px;
            height: 293px;
            margin-bottom: 50px;
        }
    }
}

.pathology-second-modal {

    &__logo {
        display: block;
        width: 147px;
        height: 13px;
        margin: 0 20px 0 auto;
        fill: $secondary;

        @include media-breakpoint-up(lg) {
            position: absolute;
            right: 40px;
            bottom: 40px;
        }
    }

    &__info {
        padding: 35px 20px 40px 20px;

        @include media-breakpoint-up(lg) {
            padding: 40px 25px 75px 40px;
        }
    }

    &__subheading {
        font-size: 18px;
        font-weight: 900;
        color: $primary;
        margin-bottom: 25px;
    }

    &__text {
        margin: 0;
    }

    @include media-breakpoint-up(lg) {
        display: flex;
        max-width: 640px;
    }

    img {
        margin-left: 25px;
        margin-bottom: 25px;

        @include media-breakpoint-up(lg) {
            width: 275px;
            height: 217px;
            margin: 55px 20px 75px 0;
        }
    }
}

.pathology-third-modal {

    &__logo {
        display: block;
        width: 147px;
        height: 13px;
        margin: 20px 0 40px 20px;
        fill: $secondary;

        @include media-breakpoint-up(lg) {
            position: absolute;
            right: 25px;
            bottom: 40px;
            margin: 0;
        }
    }

    &__info {
        padding: 0 20px 50px 20px;
    }

    &__subheading {
        font-size: 18px;
        font-weight: 900;
        color: $primary;
        margin-bottom: 20px;
    }

    &__text {
        margin: 0;
    }

    @include media-breakpoint-up(lg) {
        display: flex;
        max-width: 640px;
    }

    img {
        width: 100%;

        @include media-breakpoint-up(lg) {
            width: 640px;
            height: 357px;
        }
    }
}

.pathology-fourth-modal {

    &__logo {
        display: block;
        width: 147px;
        height: 13px;
        margin: 0 0 25px 20px;
        fill: $secondary;

        @include media-breakpoint-up(lg) {
            position: absolute;
            right: 225px;
            bottom: 20px;
            margin: 0;
        }
    }

    &__info {
        padding: 35px 20px 0 20px;
    }

    &__subheading {
        font-size: 18px;
        font-weight: 900;
        color: $primary;
        margin-bottom: 25px;
    }

    &__text {
        margin: 0;
    }

    @include media-breakpoint-up(lg) {
        display: flex;
        max-width: 640px;
    }

    img {
        display: block;
        margin: 0 auto 35px auto;
    }
}

.pathology-fifth-modal {

    &__logo {
        display: block;
        width: 147px;
        height: 13px;
        margin: 0 0 30px 20px;
        fill: $secondary;
    }

    &__info {
        padding: 0 20px 25px 20px;

        @include media-breakpoint-up(lg) {
            padding: 60px 20px 25px 75px;
        }
    }

    &__subheading {
        font-size: 18px;
        font-weight: 900;
        color: $primary;
        margin-bottom: 10px;


        @include media-breakpoint-up(lg) {
            margin-bottom: 20px;
        }
    }

    &__text {
        margin: 0;
    }

    @include media-breakpoint-up(lg) {
        display: flex;
        max-width: 640px;
    }

    img {
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;

        @include media-breakpoint-up(lg) {
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }
}


.reviews-modal {
    min-height: 400px;
    overflow: hidden;
    padding: 50px 15px;
    background-color: $gray-200;
    color: $primary;

    &__inner{

    }

    &__top {
        display: flex;
        margin-bottom: 20px;
    }

    &__avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        font-size: 48px;
        font-weight: 700;
        line-height: 72px;
        color: $gray-200;
        background-color: $decoration;
        margin-right: 30px;

        &--blue {
            background-color: $info;
        }
    }

    &__name {
        display: block;
        font-family: $font-family-heading;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        margin-bottom: 10px;
    }

    &__pathology {
        display: block;
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;

        @include media-breakpoint-up(md) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        margin: auto 0 0 auto;
        border: none;
        font-family: $font-family-heading;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: $gray-600;

        span {
            content: "";
            display: block;
            position: relative;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $gray-600;
            margin-left: 40px;

            &::before, &::after {
                content: "";
                display: block;
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $gray-600;
            }

            &::before {
                right: 15px;
            }

            &::after {
                right: 30px;
            }
        }
    }

    &__companies {
        padding: 55px 15px 0 15px;

        h4 {
            font-size: 20px;
            font-weight: 700;
            line-height: 25px;
            text-align: center;
            color: $primary;
            margin-bottom: 40px;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        @include list-unstyled;

        @include media-breakpoint-up(md) {
            justify-content: center;
            margin: -15px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: $gray-300;
        box-shadow: -15px -15px 45px #ffffff,
            14px 14px 25px #e0e0e0,
            inset 10px 10px 20px rgba(13, 39, 80, 0.08),
            inset -15px -15px 43px rgba(255, 255, 255, 0.76);

        @include media-breakpoint-up(md) {
            width: 170px;
            height: 170px;
            margin: 15px;
            box-shadow: -15px -15px 45px #ffffff,
                14px 14px 25px #e0e0e0,
                inset 10px 10px 20px rgba(13, 39, 80, 0.08),
                inset -15px -15px 43px rgba(255, 255, 255, 0.76);
        }
    }

    &__text {
        margin-bottom: 30px;
    }

    &__pro-doctorov {
        width: 52px;
        height: 40px;

        @include media-breakpoint-up(md) {
            width: 98px;
            height: 75px;
        }
    }

    &__zoon {
        width: 53px;
        height: 20px;

        @include media-breakpoint-up(md) {
            width: 100px;
            height: 37px;
        }
    }

    &__doctu {
        width: 57px;
        height: 15px;

        @include media-breakpoint-up(md) {
            width: 107px;
            height: 27px;
        }
    }

    @include media-breakpoint-up(lg) {
        max-width: 640px;
    }

    h2 {
        color: $primary;
        text-align: center;
    }
}