.pathology-modal {
    h4 {
        font-size: 18px;
        font-weight: 900;
        color: $primary;
    }

    p {
        font-size: 14px;
        line-height: 21px;
        font-weight: 300;
    }
}

.pathology-first-modal {

    &__logo {
        display: block;
        width: 147px;
        height: 12px;
        margin: 5px 20px 35px 20px;
        fill: $secondary;

        @include media-breakpoint-up(lg) {
            display: block;
            margin-left: 20px;
            margin-bottom: 50px;
        }
    }

    &__info {
        padding: 0 20px 30px;

        @include media-breakpoint-up(lg) {
            display: block;
            padding: 110px 20px 60px 40px;
        }
    }

    &__subheading {
        margin-bottom: 10px;
    }

    &__img-wrap {
        @include media-breakpoint-up(lg) {
            display: block;
        }
    }
    @include media-breakpoint-up(lg) {
        display: flex;
        max-width: 640px;
    }

    img {
        @include media-breakpoint-up(lg) {
            width: 308px;
            height: 293px;
            margin-bottom: 50px;
        }
    }
}

.pathology-second-modal {

    &__logo {
        display: block;
        width: 147px;
        height: 13px;
        margin: 0 20px 0 auto;
        fill: $secondary;

        @include media-breakpoint-up(lg) {
            position: absolute;
            right: 40px;
            bottom: 40px;
        }
    }

    &__info {
        padding: 35px 20px 40px 20px;

        @include media-breakpoint-up(lg) {
            padding: 40px 25px 75px 40px;
        }
    }

    &__subheading {
        margin-bottom: 25px;
    }
    @include media-breakpoint-up(lg) {
        display: flex;
        max-width: 640px;
    }

    img {
        margin-left: 25px;
        margin-bottom: 25px;

        @include media-breakpoint-up(lg) {
            width: 275px;
            height: 217px;
            margin: 55px 20px 75px 0;
        }
    }
}

.pathology-third-modal {

    &__logo {
        display: block;
        width: 147px;
        height: 13px;
        margin: 20px 0 40px 20px;
        fill: $secondary;

        @include media-breakpoint-up(lg) {
            position: absolute;
            right: 25px;
            bottom: 40px;
            margin: 0;
        }
    }

    &__info {
        padding: 0 20px 30px;

        @include media-breakpoint-up(lg) {
            padding: 0 20px 50px;
        }
    }

    &__subheading {
        margin-bottom: 20px;
    }

    &__img-wrap {
        margin-bottom: 20px;
    }
    @include media-breakpoint-up(lg) {
        max-width: 640px;
    }

    img {
        width: 100%;

        @include media-breakpoint-up(lg) {
            width: 640px;
            height: 357px;
        }
    }
}

.pathology-fourth-modal {

    &__logo {
        display: block;
        width: 147px;
        height: 13px;
        margin: 0 0 25px 20px;
        fill: $secondary;

        @include media-breakpoint-up(lg) {
            position: absolute;
            right: 225px;
            bottom: 20px;
            margin: 0;
        }
    }

    &__info {
        padding: 35px 20px 0 20px;
    }

    &__subheading {
        margin-bottom: 25px;
    }

    @include media-breakpoint-up(lg) {
        display: flex;
        max-width: 640px;
    }

    img {
        display: block;
        margin: 0 auto 35px auto;
    }
}

.pathology-fifth-modal {

    &__logo {
        display: block;
        width: 147px;
        height: 13px;
        margin: 0 0 30px 20px;
        fill: $secondary;
    }

    &__info {
        padding: 0 20px 25px 20px;

        @include media-breakpoint-up(lg) {
            width: 50%;
            padding: 60px 20px 25px 0;
        }
    }

    &__subheading {
        margin-bottom: 10px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 20px;
        }
    }

    &__img-wrap {
        @include media-breakpoint-up(lg) {
            width: 50%;
        }
    }
    @include media-breakpoint-up(lg) {
        display: flex;
        max-width: 640px;
    }

    img {
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%;

        @include media-breakpoint-up(lg) {
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }
}

.congress-modal {
    padding: 20px;
    background-color: $light;
}


.consultation-modal {
    background-color: $light;
    position: relative;

    .form {
        padding: 30px 20px 50px 20px;
        color: $primary;

        .heading-separator {
            margin-bottom: 30px;
        }

        .file__title {
            font-size: 12px;
            font-weight: 300;
            line-height: 18px;
            margin-left: 10px;

            @include media-breakpoint-up(lg) {
                font-size: 16px;
                line-height: 24px;
            }
        }

        &__heading {
            color: $primary;
        }

        &__file {
            display: none;
        }

        &__link {
            color: $primary;
            border-bottom: 1px solid $primary;
        }

        @include media-breakpoint-up(lg) {
            padding: 20px 60px 30px 60px;
        }
    }

    &__img-wrap {
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 15px;
            left: 15px;
            border-radius: 50%;
            width: 65px;
            height: 65px;
            border: 15px solid $secondary;
            border-top: 15px solid transparent;
            filter: drop-shadow(0 0 150px #ffffff);
            transform: rotate(-90deg);
            mix-blend-mode: multiply;

            @include media-breakpoint-up(lg) {
                top: 25px;
                left: 20px;
                width: 195px;
                height: 195px;
                border: 50px solid $secondary;
                border-top: 50px solid transparent;
            }
        }
    }

    &__bg {
        width: 82px;
        height: 88px;
        margin-top: 5px;
        margin-left: 30px;

        @include media-breakpoint-up(lg) {
            width: auto;
            height: auto;
            margin-top: 30px;
            margin-left: 65px;
        }
    }

    &__tool {
        position: absolute;
        top: 15px;
        left: 0;
        width: 60px;
        height: 65px;

        @include media-breakpoint-up(lg) {
            top: 20px;
            left: 0;
            width: auto;
            height: auto;
        }
    }

    &__logo {
        fill: $secondary;
        width: 170px;
        height: 15px;
        margin-top: 50px;

        @include media-breakpoint-up(lg) {
            width: 200px;
            height: 18px;
            margin-top: 100px;
        }
    }
}

.thank {
    color: $primary;
    padding: 60px 20px;
    text-align: center;

    h4 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    span {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        display: block;
        margin-bottom: 30px;
    }

    button {
        font-family: $font-family-text-body;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        text-align: center;
        padding: 12px 40px;
        border-radius: 35px;
    }
}