/* gilroy-regular - latin_cyrillic */
@font-face {
  src: url("../../fonts/Gilroy-Regular.woff2") format("woff2"),
       url("../../fonts/Gilroy-Regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
}
