/* stylelint-disable plugin/selector-bem-pattern */

* {
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.heading-separator {
    content: "";
    display: block;
    width: 120px;
    height: 3px;
    border-radius: 3px;
    background-image: $strip;
    border: none;
}